# dependencies
node_modules/

# production
build/
dist/

# testing
coverage/

# environment
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ide
.vscode/

# misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Parcel
.parcel-cache/

# Next.js
.next/
out/
next-env.d.ts
